@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixs;

header {
    // @include mixs.flexible(flex, space-between, center);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 10;
    border-bottom: 1px solid vars.$background-seashell;
    // padding: 0 1rem;
}

.logo {
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-bottom: .2rem;
}

