@use '../abstracts/variables' as vars;

.carousel {
    background-color: vars.$background-seashell;
    text-align: center;

    &__band {
        height: 20rem;
    }
}

.testimonials {
    // padding: 4rem auto;
    background-color: vars.$background-section;

    &__quote {
        font-size: 3rem;
        margin-top: 1rem;
    }

    &__image {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin-inline: auto;
        margin-bottom: 1rem;
    }
}

/* Media query for Testimonials Section Box, small */
@media only screen and (max-width: 895px) {
    .carousel__band {
        height: 25rem;
    }
    
    .carousel-item {
        padding-top: 1.5rem;
    }

    .carousel__quote {
        font-size: 1.5rem;
    }
}

/* Media query for Testimonials Section Box, very small */
@media only screen and (max-width: 600px) {
    .carousel__band {
        height: 30rem;
    }

    .carousel__quote {
        font-size: 1rem;
    }
    
    .carousel-item {
        padding-top: 1.5rem;
    }
}