@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixs;

.welcome {
    @include mixs.flexible(flex, center, center);
    background-image: url('../assets/images/foto_0000000920180613104426.jpg');
    @include mixs.background(cover, center, no-repeat);
    height: 46rem;

    &__box {
        padding: 0 5rem 2.5rem 5rem;
        border: solid 1px #979797;
        border-radius: 10px;
        background-color: vars.$background-gray;
    }

    &__text {
        width: 25.625rem;
        margin-top: 2rem;
        font-size: 1.25rem;
        line-height: 1.4;
        color: white;
        text-align: justify;
    }

    &__slogan {
        text-align: center;
        padding-top: 2rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: 3.125rem;
    }

    &__subtitle {
        font-size: 2.25rem;
    }

    &__paragraph {
        line-height: .9;
    }

    &__sign-up {
        margin-top: 2.7rem;
        text-align: center;
    }

    &__btn {
        background-color: vars.$background-white;
        padding: 1.25rem 7.25rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: bold;
    }
}

/* Media query for Welcome Box, small */
@media only screen and (max-width: 895px) {
    .welcome {
        height: 28rem;
    }
    
    .welcome__box {
        position: static;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
    }
}

/* Media query for Welcome Box, very small */
@media only screen and (max-width: 600px) {
    .welcome {
        height: 20rem;
    }
  
    .welcome__title {
      font-size: 2.25rem;
    }
  
    .welcome__subtitle {
      font-size: 2rem;
    }

    .welcome__btn {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}