* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%; // Por accesibilidad. Asegura que el tamaño de fuente de la página coincide un 100% con el tamaño de la fuente default del navegador.
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

