@use '../abstracts/variables' as *;

// Mission & Vision Section
.miss-vis {
    background-color: $background-white;

    &__box {
        padding: 1rem 4rem;
    }

    &__description {
        background-color: $background-section;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
    }
}



// Services Section
.services {
    padding: 4rem auto;
    background-color: $background-section;

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1.5rem 0;
    }
}

.card {
    flex-shrink: 0;
    padding: 1.5rem;
    margin: 1rem 1.25rem;
    background-color: $background-white;
    border-radius: 10px;

    &__image {
        height: 18rem;
        width: 20rem;
        margin: 0 auto;
        border-radius: 5px;
    }

    &__caption {
        padding: 1.3rem 0;
        font-weight: bold;
        margin-top: 0.25rem;
    }

    &__description {
        width: 20rem;
        margin: 0 auto;
    }

    &__paragraph {
        text-wrap: wrap;
        word-wrap: break-word;
    }
}

/* Media query for Services Section Box, small */
@media only screen and (max-width: 895px) {
    #services {
        padding: 1rem;
    }

    .card {
        padding: 1rem .2rem;
        margin: 1rem .5rem;
    }

    .card__image {
        height: 12rem;
        width: 18rem;
        margin: 0 auto;
    }
    
    .card__caption {
        padding: 1rem 0;
        font-weight: bold;
    }
}

/* Media query for Services Section Box, very small */
@media only screen and (max-width: 600px) {
    #services {
      padding: 0;
    }
}



// Testimonials Section
.testimonials {
    padding: 4rem auto;
    background-color: $background-section;

    &__quote {
        font-size: 3rem;
        line-height: 1.5;
    }

    &__image {
        width: 10%;
        border-radius: 100%;
        margin: 20px auto;
    }
}

/* Media query for Testimonials Section Box, small */
@media only screen and (max-width: 895px) {
    .carousel-item {
        font-size: 1.5rem;
        padding: 0 .5rem;
        padding-bottom: 3rem;
        padding-top: 1.5rem;
    }
}

/* Media query for Testimonials Section Box, very small */
@media only screen and (max-width: 600px) {
    .carousel-item {
        font-size: 1rem;
        padding: 0 .5rem;
        padding-bottom: 3rem;
        padding-top: 1.5rem;
    }
}